<link rel="stylesheet" href="/css/home.css">
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="user-create-form">
        <h3 class="text-center">Add Product</h3>
        <form action="/customer/addProducts" method="post">
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Products</label>
            <select class="form-select" name="productId" aria-label=".form-select-sm example">
              <% for(let product of products){%>
                <option value="<%=product._id%>">
                  <%=product.name%>
                </option>
                <%}%>
            </select>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Discount ( not need add % )</label>
            <input type="number" class="form-control" max="90" name="discount" id="formGroupExampleInput2"
              placeholder="like:- 50" required>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Quantity</label>
            <input type="number" min="1" name="qty" placeholder="like:- 4" required class="form-control"
              id="formGroupExampleInput2">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Estimate Date</label>
            <input type="date" name="estimateDate" required class="form-control" id="formGroupExampleInput2" required>
          </div>
          <div class="mb-3">
            <input type="hidden" name="customerId" value="<%=customer.id%>" required class="form-control"
              id="formGroupExampleInput2">
          </div>
          <div class="col-12 text-center">
            <button class="btn btn-dark" type="submit">Add Product</button>
          </div>
        </form>
      </div>

    </div>
    <div class="col-6">
      <div class="user-display">
        <h3 class="text-center">Customers</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">MRP</th>
              <th scope="col">Quntuty</th>
              <th scope="col">Discount</th>
              <th scope="col">Estimite Date</th>
            </tr>
          </thead>
          <tbody>
            <% for(let cust of customer.cartProducts){ %>
              <tr>
                <td>
                  <%=cust.product.name%>
                </td>
                <td>
                  <%=cust.product.mrp%>
                </td>
                <td>
                  <%=cust.quntity%>
                </td>
                <td>
                  <%=cust.discount%>
                </td>
                <td>
                  <%=cust.estimateDate%>
                </td>
              </tr>

              <%}%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>