<link rel="stylesheet" href="/css/home.css">

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="user-create-form">
        <h3 class="text-center">Add Customers</h3>
        <form action="/customer/create" method="post">
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Customer Name</label>
            <input type="text" name="customerName" class="form-control" id="formGroupExampleInput"
              placeholder="Customer Name" required>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Customer GST-ID</label>
            <input type="text" class="form-control" name="customerGSTID" id="formGroupExampleInput2"
              placeholder="Customer GST ID" required>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Customer Address</label>
            <input type="text" name="customerAddress" placeholder="Customer Address" required class="form-control"
              id="formGroupExampleInput2">
          </div>
          <div class="col-12 text-center">
            <button class="btn btn-dark" type="submit">Create Customer</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-6">
      <div class="user-display">
        <h3>Customers</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">view</th>
              <th scope="col">download</th>
              <th scope="col">Add Products</th>
              <th scope="col">Delete Customer</th>
            </tr>
          </thead>
          <tbody>
            <% for(let customer of Customers){ %>
              <tr>
                <td>
                  <%=customer.customerName%>
                </td>
                <td><a class="btn btn-info" href="/invoice/getInvoice/<%=customer._id%>">Invoice</a></td>
                <td><a class="btn btn-primary" href="/invoice/downloadInvoice/<%=customer._id%>">Download</a></td>
                <td><a href="/customer/addProducts/<%=customer._id%>" class="btn btn-dark">Add</a></td>
                <td><a href="/customer/delete/<%=customer._id%>" class="btn btn-danger">Delete</a></td>
              </tr>
              <%}%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>